#       °°°                   °                              °°°°°           °°°
#        °°                   °                            °°°°              °°°
#          °°                °°                           °°°         °°     °°°
#                            °°                         °°°        °°°       °°°
#             °              °°                       °°      °°°°°°±        °°°
#                            °°                     °       °°°°°°°±         °°°
#                °           °°                  °          ±±±±±±±±±        °°°
#                                                             ÜÜÜÜÜÜÜÜ       °°° 
#°                 °         °°             °°                  ß²²²²²²      °°° 
#  °°°°             °         °                                    ÜÜÜÜ²Ü    °°°
#      °°°°           °      °±         °°                          ßÛÛÛ²²Ü  °°° 
#          °°°         °     ±²°                                      ÛÛÛÛ²² °°° 
#             °°°          Ü²²±±Ü   °°                                ÞÛÛÛÛ²Ý°°° 
#                °°°°     ß±ßßÜ±±Ý°°                                  ÞÛÛÛÛÛÝ°°° 
#                    °°°  °²ß° ß°²°                                   ÛÛÛÛÛ² °°° 
#                          °²Ü±°ß°²±Ü  °°      °°      °            ÜÛÛÛÛÛß  °°°
#°  °       ßß²±±ßßßßß°°ßßßßß°° °Þ²°°ß°                       ÜÜÜÜÛÛÛÛÛÛß    °°°
#             þßß°°ßß±±ßß±²²±±° °²²Ý                     ÜÜÛ²²²²²²²Ûßß       °°°
#                      °  þÜÜÜ °°ÞÝßÜ°°°            ÜÜÜ²²²²²²²ßßß           °°°°
#                 °°°°       ß²° °ßÜ°ßÜ °°°°°° ÜÜ²²ÛÛ²²²ßßß°°°°°°°°°°°°°°°°°  °°
#²²²ÜÜ       °°°°°    ÜÜÜ±±  ° ßÜ °°ßÜ ±Ü²²ÜÜ²ÛÛÛÛÛ²Ûß°°°°±±±±±±±±±±±±±±°°°°°°°
#°±²²²²Ü °°°°       Üß °°°ßßß²ÜÜ²± °° ß²±±ÛÛÛÛÛÛÛ²±°°±±±±±±±±±±±±±±±±±±±±±°°°°°
#   °°±²²Ü        Üß°±Û²þÜ°°°°±²ßß °°° ÞÛÛÛÛÛÛÛß°°°±²²ßß²±±±±±±±±±±±±±±±±±±±±±²²
#     °°±±²²Ü±  Üß°Ü²ß    ßþ°Üß  °°°° ÜÛÛÛÛÛÛÛ° °°±ß°°°±±±°°°°°°°°°°°±±±²²²±±²²Û
#       °°±±²²²²ÜÜß        Üß  °°°ÜÜÛÛÛÛÛÛÛÛÛ°   °°°±Üß             °°±±°°±±±±±Û
#    °    °°±±±²²²²ÜÜ    Üß °°ÜÜÛÛÛÛ²²ÛÛÛÛÛÛ±   °°°±Û                  °±±°°±±²Û
# °        °°°°±±±²²²²²²ß °ÜÛ²²²²²ÛÛÛ²ÛÛÛÛÛÛ±  °°°±²Û  HRRRRRRRRRRRRR!  °±°±±²²Û
#°          °°°°°±±±²²ß  °²²²²²±±±±²ÛÛ²ÛÛÛÛÛ±   °°±²ÛÜ                   °°±²²ÛÛ
#            °°°±²²²ß °Ü²²²²±±°°°°±±±²ÛÛ²ÛÛÛÛ    °±²²ÛÛÜÜ               °°±²²ÛÛÛ
#°          °±±±²²ß°Ü²²±±±±°°°°°°°°°°±²²ÛÛÛÛÛÛÜ   °±²²ÛÛÛÛÛÜÜ          °Ü²²ÛÛÛ²²
#°         ±Ü²²²ß°Ü²²±±±°°°°°°°°°°°°°°±±²²ÛÛÛ²ÛÛ²ÜÜ°±²²ÛÛÛÛÛÛÛÛÜÜÜÜÜÜÜÜ²²ÛÛÛÛ²²±
#°°       ±° ßÜÜÜ²±±°±°°°°°°°°°°°°°°°°°°±±±²²²²ÛÛÛÛÛÛÛÛ²ÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛ²²²²²±±
# °°     °±±±°°±°°°°°°°±±°°°°°°°  °  °°°°° ±±±±²²²²²²ÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛ²²²²²²±±±±±±
#  °°    ±²±°°°°°°°°°°±²±±°°°°°   °   °°°° ± ßÛ²²²²²²²²²²²²²²²²²²²²²²²²²±±±°°°±°
#   °°   ±±±°    °°°°±²ÛÛ²±°  °°   °°    °°°     ßßßß²²²²²²±±±±±±±±±±²²±±°  °°°°
#    °°  °±±±°    °°±²Û   Û±°  °°   ±± °    °°°±±±±      ßßßßßß²²²²²²²±±°°   °°
#    °°   ±²±±°  °°±ÛÛ    ±°    °°  °²° °     °°±°Ü ß     ÜÜÜÜÜÜ   °±±°°þÜÜ   °
#    °°  °²²²±±±°°±²Û    °°    °°   °²± °°     °Üß    ÜÜ±²²²²²Û²ÛÛ²ÜÜ°°°  ßÛÛÜ°
#   °°  °²²°ß²²²±±²Û    °     °    °±Û± °°    °²Û   Ü±°±²²²ÛÛÛÛÛÛÛÛÛÛ²ÛÜÜ°° ²²±°
#   °  °²²±°° °²ÛÛÛ               °±ÛÛ² °°    Þ²²ÛÜ²±±±±ßß°°ÜÜÜÜ°°ßÛÛÛÛÛ²Û±±²²²±
#  °  °²²±° °°°²ÛÛ        ÜÛß²ßÜ ±²ÛÛ²Ý °°  ° ²Þ²Û²²²²ß Ü²²ßßßß²²²±±°ßßßß°°Ü²ß²°
# °  °²Û±° °± ²ÛÛ        ÞÛÝ ±  Û²ÛÛ²² °° °° ÞÝ ²² ²²Ý ÞÛ²° °°°   ß²²²°°Ü±±²  ±
#°  °²Û²° °² ²ÛÛ    °     ÛÛ °  ÞÛÛ±²Ý°°°°° Þ² ±²Ý°Þ²  ÞÛÝ         ²²ÜÛß±±    ±
#  °²Û² ±°² ²ÛÛ    °±°    Þ²Ý  ÜÛÛ²°² °°°°  Û±°°±²Ü ßÝ  ßÛÜ      Ü²²ß          
# °Û²² ² ² ÛÛÛ°°°°ÜÛÛÜ °   ²Û  Û²Û°ÞÝ  °°  Û²²Û°°±ÛÛÜ ßÜÜÜ²²²Ü              °°°
# ²²ÛÝ²ÝÞÝÞÛÛÝ°°ÜÛß² ßÛÜ°  Þ² ÞÛÛÛ°ÞÝ     ÛÛ²ÛÛ²° ±²ÛÛÛÜÜ°°ßßß²²²²²²ÜÜÜ        
#°Û±Û ±Ý ²ÜßÛÛÜ²²ß²²°  ßÛÛÛÛ²±ÛÛ²Ý±²Ý    Û²Ûß°ÛÛÛ° ±²Û²²ÛÛÛÛÜÜÜÜÜÜ°°ßßÛ²²ÜÜ   °
#±Û°Û °²Ü ßÛÜÛÜßÜ²Ý²°°ß °±²Û²ÝÛÛ²Ý°°Ý    ²²   °ÛÛÛ °±²ÛÛÛ²ÛÛÛÛÛÛÛÛÝ°°°Ü  ßßÛÛÜ°°
#²Û ÞÝ°°ß²ÜÜÜÜÜ²²² ² °°Ü °±²Û²ÞÛ²Ý°°Ý    ÛÝ°   °ÛÛÝ °±²Û²²²ÛÛÛÛÛß°°°ÜÛÛÛÛÜ  ßÛÛ±
#ÛÛ°°Û²°°°°±±±²²² ÛÛ °°°Ü °±²ÛÞÛ±± °Þ°  ° ßÜ   Ü²ÛÛ  °±²ÛÛÛÛßß°ÜÜÜÛÛßß  °ÛÛ  ßÛÛ
#ÛÛÝ°°ßÛÜÜÜ°±²²² Û²²Û °°°ßÜ°±²°Û°°²°±ÛÜ±±°°  ß ßÛ°²Ý  °°ßßÜÜÛßßßßÜÜÜÜ  °ÛÛÛÝ  ÛÛ
#²ÛÛ°°   ßßßß²ßÜ²±±±²²  ±°°²²±°ÛÝ Þ²°±²Û²±±°°°°Þ²²ÛÝ °Û²²±°°± ÛÛÛÛÛÛÝ °ÛÛÛß° ÜÛÛ
#±²ÛÛÜ±°  °±²Ü²±°ÜÜ°±²²Ü °±±±²°ÞÛ  ²²±°ß²²ÜÜß°±ÞÜÛÛ °Þ²    ±²²Ü ßßßß°°±ÛÛß°±Û²ÛÛ
#°±²²ÛÛÛÜÜÜÛ²²°ÜÛÛÛÛÜ°±²²Ü°±±±°ÞÛÛ  ß²²²±°°°±²²ÛÛß° °±±²Û²Ü °±²²²Ü°°°²ßß°°Ü²±ÛÛÛ
#°Ü°°±²²ÛÛ²±°ÜÛÛÛÛßßßÛÜ°±²ÛÛÜÜÛ²±ÛÛÜ   ßßßßßßßß °°°°²ÜÛ°ßÛÛÛÛÜÜ°°°°°°ÜÜÛ²²ß°ÛÛÛÛ
#±±²ÛÜÜÜÜÜÜÛÛÛÛßß °°°°ß²Ü°°±±²²±°Û²²²±±°°°°°°°°°±°±²²Û²ÛÛÜßßÛÛÛÛÛÛÛÛÛÛÛßßÜÛÛÛÛÛÛ
#Ü ±²²ÛÛÛ²²ß°  Üß±  ßÛÜ°²ßÛÜ°°²²²²²±±±±±±±±±±±±±±²²²²±±ÛÛÛÛ²ÜÜÜßßßßßßÜÜ²Û²²ÛßßÛÛ
#°±ÜÜßß°  °°ÜÜßÜÜÛÜþßÜßÛ²²Û±²²²²±±°°°°°  °°°°° °°°°±²²²Ü²±ÛÛÛ²²²²²²²²²ßß Üß   ÞÛ
#ÜÜßßßßßßßÛÛÛÜÛÛÛÛÛ±ÜÜÝÞÛ²²²²±±±°°°°  °°°° °°°  ° °°°±±²²Ü²° ßßßßßßß  ÜÜ²    ° Û
#°±²²²±°   ÞÛÛÛÛÛÛß   Û±²²²±±±°°° °°°°°°  °°° °°° °°°°²²±²²Ü ÜÜÜÜÜÜ²²²²ß  °°°° Þ
#±²²²Ûß  ÜÜÛÛÛßßßÜ  ÜÛ²²²±±±±°°° °°°°°      °°°°°°°  °°²²²²²ÛÞ²²²²²ßß ßþÜ  ÜÜÜ²Û
#²²ßÜÜÛßßß      ÜÜÛÛÛ²²²±±±°°°° °°°°           °°° °°± ±±²Û²²²ÛÛÛ²²ÜÜ²ÜÛÛÛßßßßÛÛ
#²ÛÛß °ßÜ  ÜÜÛÛÛÛßßÞ±²²±±±±°°°° °°°°               ° °°°±±²²ÛÛ²ÛÛÛÛÛÛÛßß°      Û
#ÛÛßß²ÜÜÜ²ÛÛÛÛß Ü °Û²²±±±±±°°°° °°°°                °° ±±±±²²ÛÛ²ÛÛÛÛÛ²°°  °°   Þ
#Û   ±  ÞÛÛÛÛÝ  Þ²Þ±²²±²°±±±°°°°  °°°                °° ±±²²²²ÛÛ²ÛÛÛÛÛÛÜ±Ü    ÜÛ
#²   °   ÛÛÛÛÛÜÜ²²Þ±²²²²Ý°±±±±°°°°° °°°               °°°±±²²²ÛÛ²²ÛÛÛÛÛÛ²±±ßßÛ²²
#ÝÜÜÜ±ßßßßßßÛÛÛÛ²²Û°±²±²Û°°±±±±±°°°°° °°°            °° °°±±²²Û²²²ÛÛÛß±°      ß²
#Ý  ÜÜÛ²²²²ÜÜ ßßß±Û°±²²²Û²°°²²±±±±±°°°°° °°°      °   °°°°°±²ÛÛ±±²ÛÛÝ±°°°   °°°Û
# Ü±²±°°°°°²²Û²² °Û°±²²ÛÛÝ °° °°°ß±±±±°°°° °° °°        °°±²²Û±±°±ÛÛÛÜÜ°      ÜÛ
#²ß°°Û²²ÛÜÜ°°±²²²±Û±²²ÛÛß ÜÛÛÛÜÜÜÜÜ ß°²±±±Ü°  ÜÜÜÜÜÛÛÛÛÜ °±²Û±±°°ÛÛÛ²²ßßßßßßß²²Û
#Üßß   ßß²ÛÛÜ±°±²°Û²²ÛÛÝ ±²ÛÛÛ²²²ÛÛÛÛÜ ß²ß ÜÛÛÛÛÛÛÛ°±±ÛÛÛ±ÛÛ±±°ÜÛÛÛÛÛÜ°°°°°°  ±Û
#      Ü °ß²²ÛÜ°±²Þ±²ÛÛ°ÞÝ±²ÛÛÛÛÛ²Û²²ÛÝ   ÞÛÛÛÛÛÛÛÛÛ±±±ÛÛ²Û±±±°ÛÛ²ßßÛÛÛÜ°°°   °Û
#   Ü²ß   °°±ÛÛÝ°±Þ²±ÛÛÝ°Û°±ÛÛÛÛÛÛÛ±±ÛÛ ±²ÞÛ²ÛÛÛÛÛÛÛÛÛÛÛÝ²Û²±±ÛÛÛÛÜ°°°ßßÛÜ °   Û
# ÜÛ²Ý     °°±²Û ±°²²±ÛÛ°ÞÝ±²²²ÛÛÛÛ²²ÛÛ°°°ÞÛ²ÛÛ²²ÛÛÛ²ÛÛÛ ±²Û²±ÛÛÛÛÛÝ° °°° ß °  Û
#ÞÛ²Û      °°±²² °°²²²²ÛÝ°ÛÜ°°±°±±²ÜÛÛ Û²  Û² ß±±°²²ÛÛÛÝ°±±²Û±²ÛÛÛÛ °    °°  ßÜÛ
#Û±²ÛÝ   °°±±²²² °±Þ²±±Û °°ß²ÛÛÛ²²²ßß  ÛÛÛ ÜßßÜÜÜÛÛÛÛÛß °°±±²Û²²ÛÛÛÛÜ°   °     Û
#Û°²ÛÛÜ°°±±²²²Û °±²Þ²±²Ý°°°°°°°°°°°°  ÞÛÛÛÛÜß²            °²²ÛÛ²²²±°ßß   ± Üß²ÜÛ
#²²°²ÛÛÛ²±ÜÜÜÜ°°±²²°²²Ý±°°°°  °°±±±°° ÛÛÛÛÛÛÜÛ²²²²ÜÜÜÜÜÜÜ°±±²ÛÛ±²ÛÛÛÜÜÜ Ü²ß °ÞÛÛ
#±ÛßÜÜÜÜ²ÛÛ²²ÛÛÛÜÜÜ±±Û²Ü²Ü°°°°±±±°°Ü°ÞÛÛÝ²ÛÛÛÛ °²±±°°°±±±±±°±²ÛÝ²±±°°°°  ÜÜÜ ßß
# Üßß°°²ÛÛ²±±±±±ß²ÛÛÛÜÜ²²ÛÛÛ±±ÜÜÜÛÛÛÛÜßÛÝ±ÛÛß²ß²²ÜÜÜÜ°°°ÜÜÜÜÜÛß°±ÜÜÜÜßßßßß²ÛÛÛÛÜ
#Þ²Û²±±²Û²²²±±±°°°°°ßß²²Ü²²²ÛÛÛÛÛÛ²²²ÛÛÜ±±±²²²°°°° ßßßß²ÛÛ²²²ßßßß   Ü±±²Û²²±²Û²Û
#² ²Ý°²²ÛÛ²ÛÛ²²²²±±±°±±± ßß²ÛÛÛÛ²²²±Ý²Û²±° ±Þ°²°°   °Ü²Û±±±°° ±±±±±±±²²±±Û²°Þ²±Þ
#Û  ßÜÜÛß °°°ßßßßß²²²²²²²±±±²Û²²±ÝÞ°Ý°Þ±°±Ý±Ý ±    °ÛÛ±²²²Ü±±±²²²²²²ßßßß²²ÜÜß °²
#ß²Ü°±²²Ý°°°°°±±±°°°° ßßßÛÛÛ²ÛÛ²²±±°Ý°°°°°±°Ý °    °Û²²²²²ßßßßß°         ß²±°Ü²ß
#   ßßß °°°°°°°²±   °       ß²ÛßÛßÜÜÜÜÜÜÜÜÜÜÜÜÜÜÜÜÛß²Û²ÜÜÜÜ°°°°±      °°   ßßß 
#°°°°°°°°   ±°      ±±  ÜÜÜÜ²²²²²ÜÛÜÝÞÝÞ±°Û°ÞÝÞ±°²ÜÛÛÛÛÛÛÛ²²²±±±ÜÜÜÜÜ°°°°      
#       °   ±²ÜÜÜÜÜÜ²²²²²²²²²ÛÛÛ²ÛÛÛÛÛÛÛÛßßßßÛÛÛÛÛÛÛ²²²ÛÛÛÛ²²²²²±±±±±±²²²ÛÜÜÜÜÜ°
#±²²ÜÜÜÜ±±±°°±±²²²²²²²²ÛÛÛÛÛÛÛÛÛÛÛÛßßß±Ý°±²²²±°°ßß²ßßÛÛÛ²²²²²²²²±°° °°±±ÛÛÛÛ²²±±
#²²Û²±°° °±±±²²²²²ÛÛÛÛÛÛÛÛÛßß²²Û²±°°±²Ü±°ÛÛßÞ²±°±²²²²ÜÜ°°ß²ßßß²²Û²²±±±° °°°±²²²±
#±°Þ²²±±²²²²²²ÛÛÛÛÛÛ²ßßß²²²±°°° ß²±²²²²²±²Ý Þ²±°   Þ²²ß±ßß²²²ÜÜÜ°°ßßß²²²±±° °±²²
#±±ÛÛ²²²²²ÛÛÛÛßßß²±±²±±°° ß²±Ü²²²ßßß°°Þ²²ÛÛ  ß²²ÜÜÜ²Ý± °  ±±ßÛ²²²ßßß±Ü°°±ßß±±°°²
#ÛÛÛÜÜÜÜ±²²²²²±ÜÜÜÜ²ÛÛÛ²²²²±²²²²²²²±±±±²²²²²²²²²²²²²²²²²±±²²²²²²²²²²±±±±±±±±±±±±
# Круглые скобки () используются для выделения групп символов. В дальнейшем к  #
# ним можно обращаться по номеру.                                              #
# Символ ^ обозначает начало строки.                                           #
# Символ $ обозначает конец строки.                                            #
# Символ . обозначает любой символ.                                            #
# Символ | обозначает альтернативу. Например, выражения "A|B" означают "A или  #
# B".                                                                          #
# Символ ? ставится после символа (группы), который может как присутствовать,  #
# так и отсутствовать.                                                         #
# Символ * ставится после символа (группы), который может отсутствовать или    #
# присутствовать неограниченное число раз подряд.                              #
# Символ + действует аналогично символу * с той лишь разницей, что             #
# предшествующий ему символ обязательно должен присутствовать хотя бы один     #
# раз.                                                                         #
# Квадратные скобки [] используются для перечисления допустимых символов.      #
# Квадратные скобки [^] используются для перечисления недоступных символов.    #
# Символ \ ставится перед спецсимволами, если они нужны в своем первозданном   #
# виде.                                                                        #
# Все, что расположено после символа '#', считается комментарием.              #
# Настраиваем доступ к серверу на уровне IP-адресов
Order Deny,Allow
Deny from 2a0e:d602::/32
Deny from 77.73.131.73
Allow from all

<FilesMatch "^(?!index\.php|home\.php)(.+)\.(test|set)$">
    Order Deny,Allow
    Deny from all
</FilesMatch>

# Устанавливаем значения параметров для PHP, если модуль mod_php активен       #
php_value mbstring.func_overload 0
php_value default_charset 'UTF-8'
php_value output_buffering 0
php_value auto_prepend_file "/var/www/u1810408/data/www/docs.setcms.org/.set/set.php"
php_value auto_append_file "/var/www/u1810408/data/www/docs.setcms.org/.set/set.php"

# Добавляем тип контента и указываем кодировку для HTML и других файлов        #
IndexOptions +Charset=UTF-8
AddDefaultCharset UTF-8
AddType 'text/html; charset=utf-8' .html .htm .shtml
AddCharset utf-8 .html .css .php .txt .js .ini .sql

# Включаем отображение списка файлов                                           #
Options +Indexes
# Задаем стиль для списка файлов
IndexOptions FancyIndexing HTMLTable
IndexOptions NameWidth=*
# Определяем цвета для стиля FancyIndexing
IndexStyleSheet "http://docs.setcms.org/example/apache/style.css"

# Устанавливаем кодировку UTF-8 для HTML и PHP файлов в заголовке              #
AddCharset UTF-8 .html .php
<FilesMatch "\.(html|php)$">
	# Устанавливаем заголовки для управления кэшем
	Header set Cache-Control "no-cache, no-store"
	Header unset ETag
</FilesMatch>
# Устанавливаем заголовок для предотвращения сниффинга MIME типов              #
Header set X-Content-Type-Options nosniff

ErrorDocument 403 '<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//RU\"><html lang="ru"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1"><title>403 Forbidden</title><style type="text/css">.error{top:0;left:0;position:absolute;display:-webkit-flex;width:100vw;height:100vh;background-color:#ddd;-webkit-align-items:center;-webkit-flex-flow:column;-webkit-justify-content:center;transition:background-color .2s ease-in-out}.error-details{margin:0 10px;font-family:monospace;color:rgba(125,32,32,0.75);font-size:16pt;line-height:20pt;text-align:center;text-shadow:0 1px 0 rgba(255,255,255,0.3)}</style></head><body><div class="error"><div class="error-details">&#1089;&#1090;&#1072;&#1090;&#1091;&#1089;&nbsp;&#1082;&#1086;&#1076;&#1072;&nbsp;<strong>403</strong></div></div></body></html>'
ErrorDocument 404 '<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//RU\"><html lang="ru"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1"><title>403 Forbidden</title><style type="text/css">.error{top:0;left:0;position:absolute;display:-webkit-flex;width:100vw;height:100vh;background-color:#ddd;-webkit-align-items:center;-webkit-flex-flow:column;-webkit-justify-content:center;transition:background-color .2s ease-in-out}.error-details{margin:0 10px;font-family:monospace;color:rgba(125,32,32,0.75);font-size:16pt;line-height:20pt;text-align:center;text-shadow:0 1px 0 rgba(255,255,255,0.3)}</style></head><body><div class="error"><div class="error-details">&#1089;&#1090;&#1072;&#1090;&#1091;&#1089;&nbsp;&#1082;&#1086;&#1076;&#1072;&nbsp;<strong>404</strong></div></div></body></html>'

# Устанавливаем приоритетные индексы для директории с помощью модуля mod_dir   #
DirectoryIndex index.php index.html

# Включаем обработку перенаправлений с помощью модуля mod_rewrite              #
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)LICENSE$ LICENSE.txt [L,NC]
RewriteCond %{REQUEST_FILENAME} !-f
# Перенаправление запросов для определенных типов файлов в каталоге /docs      #
RewriteRule ^docs/(.+\.ico|.+\.css|.+\.js)$ docs/public/$1 [L,NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(docs|demo)/(.*)$ $1/index.php [QSA,L]
# Условие: Если запрошенный файл не является символической ссылкой             #
RewriteCond %{REQUEST_FILENAME} !-l
# Условие: Если запрошенный файл не существует                                 #
RewriteCond %{REQUEST_FILENAME} !-f
# Условие: Если запрошенный файл не является директорией                       #
RewriteCond %{REQUEST_FILENAME} !-d
# Правило перенаправления всех запросов на index.php                           #
RewriteRule ^(.*)$ index.php [QSA,L]
#°°°°                                                                        °°°
#°°°°                                                                        °°°
#°°°°           ÜÜÛ²ß ÜÜ                                                     °°°
#°°°°   ÜÜ²ÛÛÛ²²²°°ÛÛÛ²²²ÜÜÜ                                                 °°°
#°°°° Ü²ÛÛÛÛß°°±±±±±²²±±±±±±²ÛÜÜ                                             °°°
#°°° ÜßßÜ°°°±±±²²²²²²²²²²²²±±²²ÛÛÜ   -                                       °°°
#°°°  Ü°°±±²²²²Ûßßßßß²²ÛÛß²²²²²±±²Û                                          °°°
#°°° Û²²²ßÛÛ²ßßßÜ²±°°ÜÛÛÝ°°  ²ß²²²²Û   -                                     °°°
#°  Û²²ßÜ²Û²²°°°°ÛÛÛÛÛ²Û²ÜÜÜÛ² ß²ß²²                                         °°°
#°  Ûß Û²ß²ÛÛÛÜÜÜÛÛÛ²²²ÛÛÛÛÛ²ÛßÜÞÝ Û -                                       °°°
#      Û ÞÛÛÛÛÛß ÛÛÛÛ²²ÛÝßÛÛ²² Þ²                                            °°°
#   °     ÛÛÛß   ÞÛÛÛÛ²Û² Þ²ß  ß                                             °°°
#  °°      ²     ÛÛÛ²ÛÛÛ² ß      -                                           °°°
#  °°           ÞÛÛÛ²²ÛÛÝ                                                    °°°
#  °°            ÛÛ²²²²ÛÝ                                                    °°°
#   °            ²Û²±±²Û                                                     °°°
#  °°            ÛÛ±±±²ÛÝ -                                                  °°°
#  °°           ÞÛÝ°±±²ÛÛ                                                    °°°
#  °°           ÞÛÝ°°±²ÛÝ                                                    °°°
#°°°°            ÛÛ±°±²ÛÝ ²  Üþ                                              °°°
#°°±°            ÞÛÝ²ß²ÛÝ ²Ü² ú                                              °°°
#°°±±           °ÛÛÝ±±²Û²Ý²±ÛßúÜþÜ             Ü ²²ÜÜÜ                       °°°
#°°±±Ý         ±±ÛÛ±±²²°Û²±±±ß±±ÜÜ          Ü     ÛÛ²²ÛÛÛÜÜÜÜÜ               °°°
#°°°²²Ü     °±²²²ÛÛ²²²±±°ß²±±°Ü± Ü ß        Ü²ÜÜÜÛÛ²±±±±±±±±²²²²ÜÜ           °°°
#°°°°ß²±Û²ÛÛÛ²²²²²ÛÛ±±±±°°±ß°±°ÛÜÜ²²ÜÜÛÛÛÛÛÛÛÛÛ²²±±±±°°°°°°°±±²²²²²²²²ÜÜ     °°°
#°°±±±   ÛßÛÛÛÛÛ²²ÛÛ±±±±°°°²±±±°ßßßßßßß°°°°°°°°°°°°°°°°°°°°°°°°±±±±²²±±²²²±±±°°°
#°°°°°  °Û°ÛÛÛÛÛ²ÛÛ±±±°°°±±°±±°°°°°°°±±±±±±±±±°°°°°°°°±±±  °°°°°°±±²²²±±±±±±±Û°°
#Û±°°°°°²Û²ÛÛÛÛÛÛÛ±±±°°°±±±±²²²²²±°°±²ÛÛÛÛÛÛ²²±±±±±±±±²²²°°°°±±°°°°±±²²±±±±²Û°°°
#²Û±²²²²ÛÛÛÛÛÛÛÛ²±±°°±±±±²²²²²²²±±±±²ÛÛÛÛÛÛÛÛÛ²²²²²²²²²²²²²²²²²²°°°°°±²²²²ÛÛ²±±°
#±±±±±±±²²²²ÛÛÛÛ²±°°°°±±±±±²²²²±±±±²ÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛ²²²²²²²²±°°±±±±°±²²²²±±
#±°°°°°°±±²²²ÛÛ²²±°°°°°°°²²²±±±°±±²ÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛ²²²²²²±±±±±°°°±²²²²±
#°°   °°°°±²ÛÛ²²±±±°°°°°°±±±±°°°²ÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛ²²²²±±±±±±°±±²²²²
#°     °°±²ÛÛ±²±±±±±°°°°°°°°°°Ü²ÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛ²²²²²±±±±±²²²ÛÛ
#     °°°±²±±±±±²²²²ÜÜ²ÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛ²²²²²²²²²²ÛÛÛ
#   °°°°²²°°°°ÜÜÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛ²²²²²²²ÛÛÛÛ
#°°°°°°ÜÜÜÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛ
#ÜÜÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛ²±°°      °ßÛÛÛÛ²±°°°     
#ÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛ        ßßßÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛ²±°         °ßÛÛ²±°°       
#ÛÛÛÛÛÛÛÛßß        ßßßÛÛÛÛÛ            ÛÛÛÛßßßßßßß²²Û±°           °°²²±°        
#ÛÛÛÛÛÛÛÛÝ           °°°ßÛÛÝ     °°°°  ÛÛÛÛÝ       ²²±              °²Û²±       
#   ßÛÛÛÛÝ °          °°  ÛÛ    °°°°°° ÛÛÛÛÝ        ²±°             °±²Û²±      
#    ÞÛÛÛÝ °         °°°° ÛÛ  °±±±±±°  ÛÛÛÛÝ  °°°°  ²±±°°°       °°°°±²Û²±°     
#   ÜÛÛÛÛ °°°°  °°°°°±±° ÜÛ²°²²²²²²²²ÜÛÛÛÛÛ  ±±±±±±°²²²±°°°     °°°°±±±Û²±°°°°°°
#²ÜÛÛÛÛÛ °±±±±±±±±°°°° ÜÛÛÛÛÛÛÛÛÛÛÛÛÛ²²ÛÛÛ °²²²±±²²±²Û²²±±±±±±±±±±±±²±Û²±±±±°°°°
#ÛÛÛÛ²Û²²²²²²²²²±°ÜÜÜ²ÛÛÛÛÛ²²²²²ÛÛ²²²²²²ÛÛÛ²²²²²²²²²²ÛÛ²²²²²²²²²²²²²²ÛÛÛ²²²²²±±±
#ÛÛ²²ÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛ²²²²±±²Û²±²²²²²²ÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛ²²²ÛÛÛÛÛÛÛÛ
#²²±ÛÛÛ²²ÛÛÛÛ²±±²ÛÛÛ²²²²ÛÛ²²²±±±²²Û²±±²²²²²²ÛÛ²²ÛÛÛÛ²²ÛÛÛÛÛ²±²ÛÛÛÛÛ²²²²ÛÛÛÛÛÛ²²Û
#²±ÛÛ²²²ÛÛÛÛ²²±±ÛÛÛ²²±±²²Û²²²±±±²²²Û² ±±±²²²²ÛÛ²²ÛÛ±²ÛÛÛÛÛ²±±ÛÛÛÛÛ²²²²±ÛÛÛÛ²²²²²
#±ÛÛ²²²²²ÛÛÛ²²±±ÛÛÛ²²±±²²ÛÛ²²²±±±²²²Û²±±±±±²²²ÛÛ²²Û±²²ÛÛÛ²±±ÛÛÛÛÛÛ²²²²±ÛÛÛ±±²²²±
#²±ÛÛ²²±±²ÛÛ²²±±²ÛÛÛ²±±±²²ÛÛ²²²²±±²²²Û² ±±±±±²²ÛÛ²²Û±²²ÛÛ²±±ÛÛÛÛÛÛ±²²²±±ÛÛ±±±²±±
#²²±ÛÛ²²±±²ÛÛ²²±±±²ÛÛÛ±±±±±²ÛÛ²²²±±²²ÛÛ² ±±±±±²²Û²²ÛÛ±²²ÛÛ²±±ÛÛ²ÛÛÛ±²²²±ÛÛ±±±±±±
#Û²²±ÛÛ²²±±±ßÛÛ²²±±±²ÛÛÛ²²±±°°ßÛ²²±²±ÛÛ² ±±±±±²²Û²²²ÛÛ±²²ÛÛ²²±ÛÛ²ÛÛÛ²±²±±ÛÛ±±±±Û
#²²²±°²ÛÛ²²±°°ÛÛÛ²²±±²²ÛÛÛ²±±±°ÞÛ²²²ÛÛ² ±±±±±±²²Û²²²ÛÛÛ±²²Û²±²±ÛÛ²²ÛÛ²²²±ÛÛÛ±±±Ý
#²²²±°Û±±ÛÛ²²±±°ÛÛ²²±±±²²ÛÛ²±°ÜÛ²²²Û²²±±±±²²²²²ÛÛ²²²ÛÛÛ±²²²²²±²Û²±²ÛÛ²±±±±Û²±°ß 
#²²²±°Û±°²ÛÛÛ²²±±ÛÛ²²±±±±²ÛÛ±²²Û²²Û²±±±²²²²²²ÛÛÛ²²²²ÛÛ²²²²²²²²²²±²ÛÛ²±±±±±±°²ß  
#²²±°ÛÛ±°²ÛÛÛÛ²²±ÛÛÛ²²±°±²Û±²²Û²Û²²±±²²²²²²ÛÛÛ²²²²²ÛÛ²ÛÛÛÛ±²²²Û²²²Û²±±±°°°°Ûß °°
#²±°ÛÛ±²°²ÛÛÛÛ±²²ÛÛ²²±±±²Û²²²ÛÛ²²±±²²²ÛÛÛÛ±±±±±±±±±±±²²²ÛÛ²ÛÛÛÛ²±ÛÛ²±±°°°±ß °°±°
#±°ÛÛ±²°²Û²²ÛÛ±²²Û²²±±²ÛÛ²ÛÛ²Û²±±²²ÛÛÛ²²²²²²²²±±±±±±±±±±±±²²²²²±±²ÛÛ²±±°°  °±²²±
#°ÛÛ±²°²Û²²²Û±²²Û²±²²²ÛÛ²ÛÛÛÛ±±²²±±±±±±±±±±²²²²²²²±±±±±±±±±±±±±±²²ÛÛ²Û±°  °°²²²±
#ÛÛ±²°²Û²²²Û±²²Û²±²²²Û²²ÛÛÛÛ±±²±±±°°°°°°°±±±±±±²²²²²²²²±±±±±±±±²²ÛÛÛ²±Û±     °±²
#Û±²°±ÛÛ²²²²²²²²²²²Û²²²ÛÛÛÛ±²²±±°°°°°°°°°°°°°°±±±±±±±±²²²²²²²²²²ÛÛÛ²±²²±°±ÛÛÜ °±
#±²²°±ÛÛ²²²²²²²²²²Û²²²ÛÛÛÛ±²²±±°°°°°°°°°°°°       °°°°±±ÛÛÛÛÛÛÛÛÛÛ²±²²²±±²²Ûß °±
#±²±°±ÛÛ²²²²²²²²±Û²²²ÛÛÛÛÛ±²²±±°°°°°°°°°°            °°°±ÛÛÛÛÛÛ²²±±²²²²²²²²² °±²
#±²± ±ÛÛ²²²²Û²²±Û²²²²ÛÛÛÛÛ±²²±±°°°°°°°°°               °°±±±±±±±²²²ÛÛÛ²²±²±±°±²²
#±²± °²ÛÛ²²²²²±Û²²²²²ÛÛÛÛÛ±²²±±°°°°°°°°°                °°±±±±²²²ÛÛÛÛ±ÛÛ²±±°°²Û²
#°±²  °²Û²²²²±±Û²²²Û²ÛÛÛÛÛÛ±±²±±°°°°°°°°                °°°°±²²ÛÛÛÛ²±ÛÛ²Û±°±°±²²
#Û°±²   ²Û²²²±±²²²²ÛÛ²ÛÛÛÛÛÛÛ±±±±°°°°°°°°                 °°°±ÛÛÛ²²±ÛÛ²ÛÛ°±±°°ß²
#ÛÛ°±² °°²Û²²±±±²²²ÛÛÛ²ÛÛÛÛÛÛÛÛ²²±±±±°°°°°°              °°°°°²Û²±±ÛÛ²ÛÛÛ±²°°° Þ
#ÛÛÝ°²°°±²ÛÛ²²±±±²²²ÛÛ²ÛÛÛÛÛÛÛÛÛÛÛ²²²±±±±°°°°°  ÜÜÜ²ÛÛÛÛÛÜÜ°°°°±±±ÛÛ²²²²ß²±²ÜÜÜ²
#Ûß°²ß°±²²ÛÛ²²±±±±²²ÛÛ²ÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛ²±±±±±ÜÛÛÛÛÛÛÛÛÛÛÛÛÛÛ²°°°ÛÛ²±²²Ûß²²±±±°±²
#°±±  ±²²ÛÛ²²±±±±±²²ÛÛ²ÛÛÛÛÛÛÛÛÛÛÛÛ²²²²ÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛ²Ü°°ßÝ°±²° Þ±²²±±²²
#²±°  Þ²ÛÛ²²±±±±±±²ÛÛ²ÛÛÛÛÛÛÛÛÛÛÛÛ²²²²±±±°°°°°Û²ÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛ² Ü± ²Ý  Þ° ²²²ÛÛ
#°°±° ±²ÛÛ²²±±±±±±²ÛÛ²ÛÛÛÛÛÛÛÛÛÛÛÛ²²²±±±±°     ÛÛÛÛÛÛÛÛÛÛÛÛÛÛ²²ÛÛ²²Û²°° ² ² ßÛÛÛ
#²°°±°±ÛÛÛ²²²±±±±²²Û²ÛÛÛ²ÛÛÛÛÛÛÛÛÛÛ²²²±±±±°     ß²²ÛÛÛÛÛÛÛÛÛ²²ßßß²±±°° Þ²²²°Ü²ßß
#Û²±°±°²ÛÛ²²²²±±²²²²²ÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛ²²±±²²±°      ß²²ÛÛÛÛÛ²ßß°°  ±° ° Ü²²± ²±°° 
#ÛÛ²±°±°²ÛÛ²²²²²²²²²ÛÛÛ²ÛÛÛÛÛÛÛÛÛÛÛ²²±±²²²²±±°°            °   °²²°  Ü²Û²±±°ß±²²
#ÛÛÛ²²°±°²ÛÛ²²²²²²²²ÛÛ²ÛÛÛÛÛÛÛÛÛÛÛ²²±±±²²ÛÛÛÛß        °°        Û²²ÜÛ²±±±°     °
#ÛÛÛ²°²±°²ÛÛÛ²²²²²²ÛÛ²ÛÛÛÛÛ²ÛÛÛÛÛÛ²±°°°°±±±°         ±Ü °°     ÛÛÛÛÛÛ²²ÛÛÛÛÛ²Ü  
#ßß±°²±±°²ÛÛÛ²²²²±ÛÛ²ÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÜÛÛÛÛÛÛÛÛ²Ûß°      ²ÛÛÛÛ²Û²ÛÛÛ²ßßÛÛÛ² 
#±±±±±±°²ÛÛÛ²²²²±ÛÛ²²ÛÛÛÛÛÛÛÛÛÛÛ²²²²²²²±±±±±±±±±±±ÛÛ±°       ²²ÛÛÛÛÛÛÛ²°  ±±ÛÛÛ²
#±±±°°°±²ÛÛ²²²²±ÛÛ±²ÛÛÛÛÛÛÛÛÛÛÛÛÛ²±±±±±±°°°°°°°°²ÛÛ²°      °Û²²Û²ÛÛ²Û²     ±±ÛÛÛ
#°°°°°±²ÛÛ²²²²±±Û±²²ÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÜ°°        ²ÛÛ²±°     ÜÜÛ²²Û²²Û²Û²²°°    ²ÛÛÛ
#±±±±²²ÛÛ±Û²²±±Û²±²ÛÛÛÛÛÛÛ²ÛÛÛÛÛÛÛÛÛÛÛÜÜÜÜÜÜÛ²Û²±°     ÜÛÛÛÛ²ÛÛ²±Û²°ß²²±±±°ÜÛÛÛ²
#²²²ÛÛÛÛÝÞÛ²²±±Û²±ÛÛÛÛÛÛÛÛÛÛ²ÛÛÛÛÛÛÛÛÛÛ²²²²²²±°°   °°±²ÛÛÛÛ±²ÛÛÛ±ÛÛ²°°ß²ÛÛÛ²²²±±
#ÛÛÛÛÛÛÛÛÜÛÛ²²±ÛÛ²ÛÛÛÛÛÛÛÛÛÛÛÛ²²ÛÛÛÛÛÛ²±±°°     °°±²±²²²ÛÛÛÛÛÛÛÛÛÛÛÛ²±°° °°°±±°°
#²²²²²²²ÛÛÜÛÛ²²±ÛÛ²ÛÛÛÛÛÛÛÛÛÛÛÛÛÛ±±ÛÛÛ²±°°   °°±±ß±±±±²²ÛÛÛÛ²ÛÛÛÛÛÛÛÛ²²Û°°  °° °
#²±±±±²²²²ÛÛßÛ²±ÛÛÛÝ±²Û²ÛÛÛÛÛÛÛÛÛÛÛÛ±±±±±°°°°±±ß°°°±±±²²²Ü²²Û²±²ÛÛÛÛÛÛÛÛÛÛÛÛ²  °
#±±±±±±±²²²ÛÛÛ²±ÛÛß°±°²ÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛßßß°°°°°±±±±±Ü²²²Û° ±°Û²²²²²²²²²²ÛÛÛ° 
#±±°°°°±±²²²ÛÛÛ±Û±±±±°°²ÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛ²±±°°°°°°±±°ÜÜ²²²²ÛÛ° °°Û²±±±±±±±±±±±±²²
#°°°°°°°±±±²²ÛÛ²°±±±±  °²ÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛÛ²± °°°±ÜÜ²²±±²²²ÛÛ    °Û±±±±±°°°°°°°±±±
#°°°°°°°°°±²²²Û²° ±±°° °±²ÛÛÛÛÛÛÛÛÛÛÛÛ²Û²ÜÜÜÜÜß±±±±±±±²²ÛÛÛ     Û±±±±°°°°°°°°°°°
#°°°°°°°°°±±²²Û²°  °°°°°°±²ÛÛÛÛÛÛÛÛÛÛÛÛÛÜÞ²Ý °°°±±±±±±²²ÛÛ      °Û±±±°°°°°REV:H 
#<3    °°°°±±²Û²     °°°°°°±²ÛÛÛÛÛÛÛÛÛÛÛßßßßßÜ °°°°±±±²²ÛÛ   °°°°Û²±±°°°        
#CoH     °°°±²Û²       °°°°°±²ÛÛÛÛÛÛÛÛ²°±°   °Û °°°°±±±²Û    °°°°°Û±±±°°     °°°  
#<3       °°±²Û²   °°°°°  °°°±²ÛÛÛÛÛÛÛÝ±ÜÜ ÜÜ±²Ý°°°°±±±Û    °°° °°Û±±±°°     °°°  
#         °°±²²°  °°°°°° °°° ±±²ÛÛÛÛ²²Ýßß°Ü°ßßÞÝ°°°±±±±   °°°°    °Û²±°°     °°°  
#         °°±²°    °°     °°° °°±²²²±±ßß²±° ²ßß °±±±°°   °°°°°°°   °Û²±°     °°°  
#          °±°           °°°°  °°±±±±°° ßßßßß°°°°°°°°     °°°    °° °²±°°    °°°  
#          °°°                    °°°°°        °°°        °°       °  °°°    °°°   
#          °                         °°°   °°°            °              °   °°°   
#                                                                            °°°   
#                                        °                                   °°°   
#                                                                            °°°   
#			         Это все на что способна наша фантазия                   °°°